{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ form_start(formGateau) }}
    {{ form_row(formGateau.name) }}
    {{ form_row(formGateau.description) }}
    {{ form_label(formGateau.ingredients) }}
    <ul class="ingredients"
        data-index="{{ formGateau.ingredients|length > 0 ? formGateau.ingredients|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(formGateau.ingredients.vars.prototype)|e('html_attr') }}"
    ></ul>

    <button type="button" class="add_item_link btn btn-warning" data-collection-holder-class="ingredients">Add an ingredient</button>

    <ul class="images"
        data-index="{{ formGateau.images|length > 0 ? formGateau.images|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(formGateau.images.vars.prototype)|e('html_attr') }}"
    ></ul>

    <button type="button" class="add_item_link_images btn btn-primary" data-collection-holder-class="images">Add an image</button>

    <button type="submit" class="btn btn-success">send</button>
    {{ form_end(formGateau) }}
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
            };

            document
                .querySelectorAll('.add_item_link')
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                });
        })
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", ()=>{
            const addFormToCollection = (e) => {
                const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

                const item = document.createElement('li');

                item.innerHTML = collectionHolder
                    .dataset
                    .prototype
                    .replace(
                        /__name__/g,
                        collectionHolder.dataset.index
                    );

                collectionHolder.appendChild(item);

                collectionHolder.dataset.index++;
            };

            document
                .querySelectorAll('.add_item_link_images')
                .forEach(btn => {
                    btn.addEventListener("click", addFormToCollection)
                });
        })
    </script>

{% endblock %}
