{% extends 'base.html.twig' %}

{% block title %}Hello GateauController!{% endblock %}

{% block body %}



    <div class="border border-dark">

        <h3>{{ gateau.name }}</h3>
        <p><strong>{{ gateau.description }}</strong></p>
   </div>
    {%for ingredient in gateau.ingredients %}

        <p> - {{ ingredient.name }}</p>

    {% endfor %}
    <p><strong>
            <a href="{{ path('app_like', {id:gateau.id}) }}" class="btn like">
                <i style="height: 25px" class="thumb bi bi-hand-thumbs-up{% if gateau.isLikedBy(app.user) %}-fill{% endif %}"></i>
                <span class="nbrLikes">{{ gateau.likes|length}}</span>
            </a>
        </strong>
    </p>
<br>
    {% for image in gateau.images %}

        <img style="height: 100px"  src="{{ vich_uploader_asset(image, 'imageFile')}}" alt="">

    {% endfor %}

    <script>


        function like(event){
            event.preventDefault()

            fetch(this.href)
                .then(response=>response.json())
                .then((data)=>{
                    console.log(this)
                    this.querySelector('.nbrLikes').innerHTML = data.count
                    if(data.liked){
                        this.querySelector('.thumb').classList.remove('bi-hand-thumbs-up')
                        this.querySelector('.thumb').classList.add('bi-hand-thumbs-up-fill')

                    }else{
                        this.querySelector('.thumb').classList.remove('bi-hand-thumbs-up-fill')
                        this.querySelector('.thumb').classList.add('bi-hand-thumbs-up')


                    }
                })
        }

        document.addEventListener('DOMContentLoaded', ()=>{
            const boutonsLike = document.querySelectorAll('.like')

            boutonsLike.forEach((bouton)=>{
                bouton.addEventListener('click', like)
            })
        })

    </script>



{% endblock %}